

#editor .line{
    min-height: 25px;
    width: 100%;
    float: left;
    vertical-align: middle;
}
#editor .label {
    float: left;
    clear: left;
}

#editor .color-selector, .button-checker, select{
    float: right;
    clear: right;
}

#editor .input div{
    display: inline-block;
}

#editor .input .color-selector, .button-checker, select{
    float: right;
    clear: none;
}
