#favourites .fa-plus, #favourites .fa-minus {

  position: absolute;
  right: 10px;
  top: 15px;
  cursor: pointer;
  margin-left: 5px;
}

.custom-figure {
  width: 100%;
  position: relative;
  min-height: 30px;
}

.custom-figure img{
  cursor: pointer;
}
.custom-figure-folder img{
  cursor: default;
}

.custom-figure-folder .custom-figure img{
  cursor: pointer;
}

.custom-figure .fa-pencil-square-o{
  cursor: pointer;
  margin-left: 5px;
}

.custom-figure .fa-trash-o{
  cursor: pointer;
}
.custom-figure-folder .fa-plus, .custom-figure-folder .fa-minus{
  cursor: pointer;
  margin-left: 5px;
  position: relative;
  top: 0px !important;
  right: 0px !important;
}
.custom-figure .buttons{
  position:absolute;
  right: 10px;
  top: 7px;
}

.custom-figure .label {
  float: right;
  width: 150px;
}

.custom-figure-folder .figures{
  margin-left: 5px;
}

.custom-figure-folder .edit-delete {
  width: 100%;
}

.custom-figure-folder .edit{
  margin-right: 0px;
  cursor: pointer;

}

.custom-figure-folder .delete{
  margin-left: 0px;
  cursor: pointer;
}
